/* Fonts imported from Google Fonts : https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {
    --main-interface-colour: rgb(88, 88, 88);
    --game-interface-width: 50%;
    /* Lato font imported from Google Fonts : https://fonts.google.com/ */
    --main-content-font-family: Arial, Lato, Helvetica, sans-serif;
}

/* Backdrop styling */
html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background-color: var(--main-interface-colour);
    margin: 0;
}

/* Common interface styling */
.game-width,
.top-ten-modal,
.name-entry-modal {
    width: 100%;
}

header,
footer {
    position: absolute;
    box-sizing: border-box;
    background-color: var(--main-interface-colour);
    border: 5px outset rgb(138, 138, 138);
}

/* Header styling */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    z-index: 2;
}

.logo {
    /* Fonts imported from Google Fonts : https://fonts.google.com/ */
    font-family: Orbitron, Arial, Lato, Helvetica, sans-serif;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
    color: rgb(204, 204, 204);
}

/* Main styling */
main {
    position: absolute;
    box-sizing: border-box;
    bottom: 75px;
    /* Height is full view - header, instructions bar and footer */
    height: calc(100% - 125px - 100px);
    background-color: var(--main-interface-colour);
    border: 3px outset rgb(138, 138, 138);
    padding: 3%;
}

/* Top ten modal */
.top-ten-button {
    margin-right: 30px;
}

.top-ten-modal,
.name-entry-modal {
    position: absolute;
    background-color: grey;
    z-index: 2;
    border: 3px outset rgb(138, 138, 138);
    box-sizing: border-box;
    bottom: 75px;
    height: calc(100% - 100px - 75px);
}

.top-ten-table {
    text-transform: uppercase;
}

.name-entry-modal {
    font-family: var(--main-content-font-family);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name-entry-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name-entry-input {
    width: 200px;
    height: 20px;
    text-align: center;
    font-weight: 400;
    color: rgba(204, 204, 204, 0.8);
}

.name-entry-button {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    background-color: var(--main-interface-colour);
    color: rgb(204, 204, 204);
}

/* Instructions section styling */
.instructions {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 75px;
    /* Height is full view - header and footer */
    height: calc(100% - 100px - 75px);
    background-color: grey;
    z-index: 1;
    transition: bottom 1s;
}

.hide-instructions {
    bottom: calc(100% - 150px);
}

.instructions-content-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: calc(100% - 50px);
    top: 0;
}

.instructions-content {
    width: 90%;
    height: 100%;
    margin: 0;
    overflow: auto;
    font-family: var(--main-content-font-family);
    font-size: xx-large;
    text-align: justify;
    text-align-last: center;
}

.instructions-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: var(--main-interface-colour);
    border: 5px outset rgb(138, 138, 138);
}

/* Score bar styling */
.score-bar {
    width: 100%;
    height: 50px;
    font-family: Arial, Lato, Helvetica, sans-serif;
    font-size: x-large;
    color: rgba(204, 204, 204, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-score-container {
    height: fit-content;
    padding-left: 10px;
}

/* Game interface styling */
.game-button-interface {
    height: calc(100% - 50px);
    width: 100%;
}

/* coloured button colours */
.yellow-button-pressed {
    fill: rgb(255, 255, 153);
}

.green-button-pressed {
    fill: rgb(151, 255, 151);
}

.blue-button-pressed {
    fill: rgb(149, 149, 255);
}

.red-button-pressed {
    fill: rgb(255, 162, 162);
}

/* Hide button on click style */
.visibility-hidden {
    visibility: hidden;
}

/* Dont display component on click style */
.display-none {
    display: none;
}

/* Footer styling */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    bottom: 0;
}

/* Mute button styling */
.mute-button {
    height: 3rem;
    width: 3rem;
    background-color: rgb(90, 90, 90);
    padding: 5px;
    margin-right: 10px;
}

.mute-button-down {
    border: solid gray;
}

.button {
    border: 3px outset rgb(138, 138, 138);
}

.mute-icon {
    width: 100%;
}

/* Media queries */

/* Turn screen modal for when device is in landscape and too narrow for the game interface */
.turn-screen-modal {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-interface-colour);
    z-index: 3;
    font-size: xx-large;
    text-align: center;
}

.turn-screen-modal-text {
    height: fit-content;
    width: fit-content;
}

/* Add media query for screens more than 1000px wide */
@media screen and (min-width: 1000px) {

    header {
        height: 150px;
    }

    .logo {
        font-size: xxx-large;
    }

    footer {
        height: 100px;
    }

    .mute-button {
        height: 4rem;
        width: 4rem;
    }

    /* Instructions section styling */
    .instructions {
        bottom: 100px;
        /* Height is full view - header and footer */
        height: calc(100% - 150px - 100px);
    }

    .hide-instructions {
        bottom: calc(100% - 200px);
    }

    .instructions-content {
        margin: auto;
        height: fit-content;
        width: 75%;
    }

    /* Main styling */
    main {
        bottom: 100px;
        /* Height is full view - header, instructions bar and footer */
        height: calc(100% - 200px - 100px);
    }

    .top-ten-modal,
    .name-entry-modal {
        bottom: 100px;
        height: calc(100% - 100px - 150px);
    }

    .game-width,
    .top-ten-modal,
    .name-entry-modal {
        width: var(--game-interface-width);
    }

    .game-position,
    .top-ten-modal,
    .name-entry-modal {
        right: calc((100% / 2) - (50% / 2));
    }

    .instructions-bar {
        width: 50vw;
        right: calc((100% / 2) - (50vw / 2));
    }

}

/* Add media query to handle mobile when landscape */
@media screen and (max-height: 600px) {
    
    .turn-screen-modal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .instructions-content {
        display: none;
    }

}