/* backdrop styling */
html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background-color: grey;
    margin: 0;
}

/* common interface styling */
header,
footer {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(88, 88, 88);
    border: 5px outset rgb(138, 138, 138);
}

/* header styling */
header {
    height: 150px;
}

/* main styling */
main {
    position: absolute;
    box-sizing: border-box;
    bottom: 100px;
    width: 100%;
    /* height is full view - header and footer */
    height: calc(100% - 150px - 100px);
    background-color: rgb(88, 88, 88);
    border: 3px outset rgb(138, 138, 138);
}

/* instructions section styling */
.instructions {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    /* height is full view - header and footer */
    height: calc(100% - 150px - 100px);
    width: 100%;
    background-color: grey;
    z-index: 1;
}

.instructions-content-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    top: 0;
}

.instructions-content {
    width: 90%;
    height: 100%;
    margin: 0;
    overflow: auto;
    font-size: xx-large;
    text-align: justify;
    text-align-last: center;
}

.instructions-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(88, 88, 88);
    border: 5px outset rgb(138, 138, 138);
}

/* footer styling */
footer {
    height: 100px;
    bottom: 0;
    right: 0;
}

/* Add media query for screens more than 600px wide */
@media screen and (min-width: 600px) {

    .instructions-content {
        margin: auto;
        height: fit-content;
        width: 600px;
    }

}